/* ===================================== 
    HOME NICHE COLOR STRUCTURE. 
===================================== */
:root {
  --primary-color: var(--portfolio-primary);
  --secundary-color: var(--portfolio-secundary);
  --headline-color: var(--portfolio-secundary);
  --paragraph-color: var();
  --background-color: var();
}

/* ========== HEADER COLOR RESET ========== */
ul.top-contact li a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.social-list li a:hover {
  color: var(--primary-color);
}

.top-social .btn-default:hover {
  color: var(--primary-color);
}

/* ========== FOOTER COLOR RESET ========== */
.footer-terms a:hover{
  color: var(--primary-color);
}

.footer-copyright p a:hover{
  color: var(--primary-color);
}

ul.quick-links li a:hover{
  color: var(--primary-color);
}

ul.footer-contact li a:hover{
  color: var(--primary-color);
}

ul.footer-social li a:hover{
  color: var(--primary-color);
}

.cd-top {
  background: var(--primary-color) url(../../../images/icons/cd-top-arrow.svg) no-repeat center 50%;
}

/* ===================================== 
    PORTFOLIO. 
===================================== */
header {
  height: 100vh;
  background: var(--main-dark-color);
  display: -webkit-box;
  display: flex;
}


/*** Hero Section Styles ***/
#hero-section {
  width: 100vw;
  height: calc(100vh);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-image: url("../../../images/commons/home-niches/portfolio/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
}

#hero-section:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.5;
}

.hero-headline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.wrapper .text-layer {
  font-family: var(--base-font);
  font-size: 1.5rem;
  visibility: hidden;
  display: none;
  text-align: center;
}

.wrapper>div {
  height: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: flex-end;
  color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: none;
  font-size: 1.5rem;
  margin-top: 15px;
}

.wrapper>div:after {
  content: "";
  width: 10px;
  height: 4px;
  display: block;
  background: var(--primary-color);
  margin-bottom: 4px;
  margin-left: 2px;
  animation-duration: 350ms;
  animation-name: fade;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.hero-headline .wrapper h1 {
  color: #FFF;
  letter-spacing: 5px;
  text-align: center;
  font-size: 4rem;
}

.hero-social {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.hero-social ul.social li {
  list-style: none;
  margin: 15px 0px;
  transition: 0.3s;
}

.hero-social ul.social li a {
  color: #FFF;
  transition: 0.3s;
  font-size: 20px;
  margin-bottom: 0px;
}

.hero-social ul.social li a:hover {
  color: var(--primary-color);
}

.hero-social ul.circle-border li {
  width: 30px;
  height: 30px;
  border: solid 1px #f5f5f5;
  background-color: none;
  border-radius: 50%;
  text-align: center;
  line-height: 1.8;
  transition: 0.3s;
}

.hero-social ul.social li {
  background-color: transparent;
}

/* ========== ABOUT ME ========== */
.section-title {
  text-align: center;
  margin-bottom: 3rem;
}

.section-title h5 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* title styles */
.home-title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

h3.home-title {
  font-weight: 700;
}

span.subtitle {
  font-weight: 400;
  font-size: 1.1rem;
  color: #a3b0b4
}

.home-title span::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
  transform: translateX(-101%);
}

.home-title span::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
  transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
  animation-delay: 1s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after {
  animation-delay: 1.5s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%)
  }

  100% {
    transform: translateX(101%)
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(200%)
  }
}

.about-me {
  padding-left: 1rem;
}

.about-me p {
  margin-top: 1.5rem;
}

.personal-info li {
  list-style: none;
  line-height: 45px;
  font-size: 15px;
}

.personal-info li strong {
  font-weight: 600;
}

.info-left {
  margin-right: 3rem;
}

.info-left,
.info-right {
  display: inline-block;
}

.image-shadow:after {
  -webkit-transform: scale(0.95) translateY(36px) translateZ(-30px);
  transform: scale(0.95) translateY(36px) translateZ(-30px);
  -webkit-filter: blur(20px);
  filter: blur(20px);
  opacity: 0.9;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  z-index: -1;
  transition: -webkit-filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
}

.image-shadow {
  display: block;
  position: relative;
  background-size: cover;
  cursor: pointer;
}

.js-tilt-container {
  transition: -webkit-transform .1s ease;
  transition: transform .1s ease;
  transition: transform .1s ease, -webkit-transform .1s ease;
  -webkit-transform: rotateX(0) rotateY(0);
  transform: rotateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.leave {
  -webkit-transform: rotateX(0) rotateY(0) !important;
  transform: rotateX(0) rotateY(0) !important;
  transition-timing-function: cubic-bezier(0.42, 0, 0, 1) !important;
  transition-duration: 1.5s;
}

/* ========== TIMELINE ========== */
h3.timeline-title {
  font-size: 1.7rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
}

/*-- GENERAL STYLES
  ------------------------------*/
.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline h1,
.timeline h2,
.timeline h3,
.timeline h4,
.timeline h5,
.timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 40px;
  position: relative;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.timeline-marker:before {
  background: var(--primary-color);
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
  content: "";
  width: 3px;
  background: #CCD5DB;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid var(--primary-color);
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}

.timeline-content p:last-child {
  margin-bottom: 0;
}

/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}

.period .timeline-info {
  display: none;
}

.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}

.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}

.period .timeline-content {
  padding: 40px 0 70px;
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 0px;
}

.period .timeline-title {
  margin: 0;
}

h5.timeline-title {
  color: var(--main-dark-color);
  font-size: 1.3rem;
  font-weight: 500;
}

/*----------------------------------------------
      MOD: TIMELINE SPLIT
  ----------------------------------------------*/
@media (min-width: 768px) {

  .timeline-split .timeline,
  .timeline-centered .timeline {
    display: table;
  }

  .timeline-split .timeline-item,
  .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }

  .timeline-split .timeline-info,
  .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info,
  .timeline-centered .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }

  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker {
    position: relative;
  }

  .timeline-split .timeline-content,
  .timeline-centered .timeline-content {
    padding-left: 30px;
  }

  .timeline-split .timeline-info,
  .timeline-centered .timeline-info {
    padding-right: 30px;
  }

  .timeline-split .period .timeline-title,
  .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
      MOD: TIMELINE CENTERED
  ----------------------------------------------*/
@media (min-width: 992px) {

  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }

  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }

  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }

  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }

  .timeline-centered>.timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }

  .timeline-centered>.timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }

  .timeline-centered>.timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }

  .timeline-centered>.timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }

  .timeline-centered>.timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }

  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }

  .timeline-centered .period .timeline-title {
    left: auto;
  }
}

/*----------------------------------------------
      MOD: MARKER OUTLINE
  ----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #FF6B6B;
}

.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #FF6B6B;
}

/* ========== SKILS ========== */
.circular-progress {
  width: 154px;
  height: 154px;
  position: relative;
  display: inline-block;
}

.circular-progress>svg {
  width: 100%;
  display: block;
}

.circular-progress .other-ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.circular-progress .other-ball:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.single-progress-bar {
  margin: 1.5rem 0rem;
}

.single-progress-bar .top-box {
  position: relative;
}

.single-progress-bar .top-box .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: var(--headline-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.single-progress-bar h3 {
  margin: 0;
  font-size: 16px;
  color: var(--main-text-color);
  font-weight: 500;
  margin: 25px 0px 0px;

}

/* ========== SERVICES ========== */
.remove-margin {
  margin-bottom: 2.5rem;
}

.service-box {
  padding: 2rem 2.5rem;
  border-radius: 5px;
  margin: 1rem 0rem;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(12, 0, 46, 1);
  box-shadow: 0px 2px 10px 0px rgba(12, 0, 46, 0.09);
  background-color: #fff;
}

.service-box .sb-icon {
  width: 60px;
}

.sb-caption {
  text-align: left;
}

.sb-caption h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 25px 0px 10px;
}

.sb-caption P {
  font-weight: 400;
  font-size: 15px;
}

/* ========== NEWS ========== */
.news-carousel {
  position: relative;
}

.news-carousel .owl-theme .item {
  padding: 10px;
}

.news-carousel .owl-theme .custom-nav {
  position: absolute;
  top: 37%;
  left: 0%;
  right: 0%;
  z-index: 1;
}

.news-carousel .owl-theme .item img {
  width: 100%;
}

.news-carousel .owl-theme .custom-nav .owl-prev,
.news-carousel .owl-theme .custom-nav .owl-next {
  position: absolute;
  width: 30px;
  height: 30px;
  color: inherit;
  background: none;
  border: none;
  z-index: 100;
  background-color: #333;
  border-radius: 0px;
  padding: 6px 10px;
  display: none;
}

.news-carousel .owl-theme .custom-nav .owl-prev:hover,
.news-carousel .owl-theme .custom-nav .owl-next:hover {
  position: absolute;
  background-color: #000;
}

.news-carousel .owl-theme .custom-nav .owl-prev:focus,
.news-carousel .owl-theme .custom-nav .owl-next:focus {
  border: none;
  outline: 0;
  box-shadow: none;
}

.news-carousel .owl-theme .custom-nav .owl-prev i,
.news-carousel .owl-theme .custom-nav .owl-next i {
  font-size: 18px;
  color: #FFF;
}

.news-carousel .owl-theme .custom-nav .owl-prev {
  left: 0;
}

.news-carousel .owl-theme .custom-nav .owl-next {
  right: 0;
}

.news-carousel .owl-dots {
  text-align: center;
  margin-top: 25px;
}

.news-carousel .owl-dots button.owl-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0px 3px;
  box-shadow: none;
  border: none;
}

.news-carousel .owl-dots button.owl-dot.active {
  background-color: var(--primary-color);
  width: 20px;
  border-radius: 25px;
}

.news-carousel .owl-dots button.owl-dot:focus {
  outline: none;
}

.news-card {
  background-color: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.nc-caption {
  padding: 1.5rem;
}

.date-box {
  width: 60px;
  height: 60px;
  background-color: var(--secundary-color);
  margin-right: 20px;
  position: relative;
}

.db-inner {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 5px;
}

.db-inner h5 {
  color: #FFF;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
  line-height: 15px;
}

.db-inner span {
  font-size: 11px;
  margin-top: -25px;
  line-height: 15px;
  font-weight: 500;
}

.nc-caption .media .media-body h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.nc-caption p {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.6;
}

.nc-caption .btn {
  position: relative;
  padding: 6px 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #fff;
  color: #222;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: none;
  border: transparent;
  outline: transparent;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
}

.nc-caption .btn-primary {
  color: white;
  background-color: var(--primary-color);
}

.nc-caption .btn-snake-border .btn-borders {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nc-caption .btn-snake-border .btn-borders .border-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, transparent, white);
  animation: moveHorizontally 2s linear infinite;
}

.nc-caption .btn-snake-border .btn-borders .border-right {
  position: absolute;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, white);
  animation: moveVertically 2s 1s linear infinite;
}

.nc-caption .btn-snake-border .btn-borders .border-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, transparent, white);
  animation: moveHorizontally 2s linear reverse infinite;
}

.nc-caption .btn-snake-border .btn-borders .border-left {
  position: absolute;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, transparent, white);
  animation: moveVertically 2s 1s linear reverse infinite;
}

.nc-caption .btn-primary:hover {
  color: white;
  background-color: var(--secundary-color);
}


/*====================================================
    9. CONTACT ME. 
  ====================================================*/

.contact-layer {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(12, 0, 46, 1);
  box-shadow: 0px 2px 10px 0px rgba(12, 0, 46, 0.09);
  background-color: #FFF;
}

.side-badge {
  background-color: #FFF;
  max-width: 400px;
  padding: 35px 0px;

}

.inner-badge {
  background: var(--secundary-color);
  max-width: 350px;
  margin-left: -50px;
  padding: 2.5rem;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(12, 0, 46, 1);
  box-shadow: 0px 2px 10px 0px rgba(12, 0, 46, 0.09);
  position: relative;
  z-index: 1 !important;
}

.inner-badge h5 {
  color: #FFF;
  margin-bottom: 25px;
}

.inner-badge .media {
  margin-top: 30px;
}

.inner-badge .media .mr-3 {
  width: 30px;
}

.inner-badge .media .media-body p {
  font-size: 13px;
  color: #b9bec6;
  line-height: 1.5;
  margin-bottom: 0px;
}

.contact-social {
  margin-top: 2rem;
}

.contact-social ul.social li {
  list-style: none;
  display: inline-block;
  margin: 0px 10px;
  transition: 0.3s;
  background-color: transparent;
}

.contact-social ul.social li a {
  color: #FFF;
  transition: 0.3s;
  font-size: 18px;
  margin-bottom: 0px;
}

.contact-social ul.social li a:hover {
  color: var(--primary-color);
}

.contact-social ul.circle-border li {
  width: 30px;
  height: 30px;
  border: solid 1px #f5f5f5;
  background-color: #f5f5f5;
  border-radius: 50%;
  text-align: center;
  line-height: 1.8;
  transition: 0.3s;
}

.contact-form {
  padding: 3rem 10rem 0rem 3.5rem;
  margin-left: -180px;
}

.controls .form-group {
  margin: 15px 0px;
}

.custom-form {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #595959;
  background-color: transparent;
  background-clip: padding-box;
  border: none;
  border-bottom: solid 1px #a3b0b4;
  border-radius: 0px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: 'Open Sans', sans-serif;
}

.custom-form:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.custom-form:focus {
  color: #595959;
  background-color: transparent !important;
  border-color: #FFF;
  outline: 0;
  box-shadow: none;
  border-bottom: solid 1px #a3b0b4;
}

.custom-form::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.btn-contact {
  margin-top: 10px;
}

.btn-contact .btn {
  padding: 8px 20px;
  font-size: 14px;
}

.btn-contact .btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: var(--main-yellow-color) !important;
  border-color: var(--main-yellow-color) !important;
  box-shadow: none !important;
}

.btn-contact .btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: var(--main-yellow-color) !important;
  border-color: var(--main-yellow-color) !important;
}

.btn-contact .btn.disabled,
.btn:disabled {
  opacity: 1;
}

.with-errors {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: red;
  margin-top: 10px;
}

.alert-success {
  color: var(--main-dark-color);
  background-color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 0px;
  border: none
}

.close {
  float: right;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: var(--main-dark-color);
  text-shadow: none;
  opacity: 1;
}

.contact-layer .media-object-card{
  display: flex !important;
  margin: 30px 0px;
}

.contact-layer .moc-thumbnail{
  width: 30px;
  flex-shrink: 0 !important;
}

.contact-layer .moc-caption{
  margin-left: 15px;
}

.contact-layer .moc-caption p{
  font-size: 13px;
  color: #b9bec6;
  line-height: 1.5;
  margin-bottom: 0px;
}

.contact-layer .moc-caption p a{
  color: #b9bec6;
}

.contact-layer .moc-caption p a:hover{
  color: #FFFFFF;
}

.contact-layer .moc-center{
  align-items: center !important;
}



/* =====================================
    MEDIA QUERIES.
===================================== */
@media (max-width:1300px) {
  .inner-badge {
    max-width: auto;
    margin-left: 0px;
  }

  .contact-form {
    padding: 3rem;
    margin-left: -100px;
  }
}

@media (max-width:1200px) {
  .container {
    max-width: 95%;
  }

  .contact-form {
    padding: 3rem;
    margin-left: -80px;
  }
}

@media (max-width:1100px) {
  .container {
    max-width: 95%;
  }

  .contact-form {
    padding: 3rem;
    margin-left: -55px;
  }

  .hero-headline {
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0;
    text-align: center;
    transform: translate(0%, 0%);
    padding: 0rem 3rem;
  }

  .hero-headline .wrapper h1 {
    text-align: left;
    font-size: 3rem;
  }

}

@media (max-width:991px) {
  .contact-layer {
    padding: 1rem 3rem;
  }

  .side-badge,
  .inner-badge {
    max-width: 100%;
  }

  .contact-form {
    padding: 3rem;
    margin-left: 0;
  }

  .grid-sizer,
  .grid-box {
    width: 50%;
  }
}

@media (max-width:767px) {
  .timeline-layer {
    padding: 0px 15px;
  }

  .hero-headline {
    top: 45%;
  }
}

@media (max-width:576px) {
  .contact-form {
    padding: 2rem 0rem;
  }

  .contact-layer {
    padding: 1rem 2rem;
  }

  .grid-sizer,
  .grid-box {
    width: 100%;
  }

  .hero-social {
    position: absolute;
    bottom: 5rem;
    right: 2rem;
  }

  .contact-layer .moc-caption{
    margin: 0px 0 0 15px;
  }
  
}

@media (max-width:480px) {}

@media (max-width:380px) {
  .hero-headline {
    position: absolute;
    top: 45%;
    left: 0%;
    right: 0;
    ;
    transform: translate(0%, 0%);
    padding: 0rem 3rem;
  }

  .hero-headline .wrapper h1 {
    letter-spacing: 1px;
  }

  .wrapper>div {
    font-size: 12px !important;
  }

}