/* ===================================== 
    FONTS. 
===================================== */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&amp;display=swap');


/* ===================================== 
    HOME NICHE COLOR STRUCTURE. 
===================================== */
:root {
    --primary-color: var();
    --secundary-color: var();
    --headline-color: var();
    --paragraph-color: var();
    --background-color: var();

    /* ----- TYPOGRAPHY. ----- */
    --base-font: 'Ubuntu', sans-serif;
    --secundary-font: 'Ubuntu', sans-serif;
    --paragraph-font-size: 15px;
}

/* ===================================== 
    RESTAURANT. 
===================================== */

/* ========== NAVBAR RESET ========== */
.submenu-indicator-chevron {
    margin-top: -2px;
  }


/* ========== ABOUT US ========== */
.about-wide-left {
    padding: 55px 30px 0 0;
}

.about-wide-left h5.overheadline {
    font-size: 16px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.ceo-layer {
    margin-top: 30px;
    border-left: solid 5px var(--primary-color);
    padding: 15px 15px 15px 15px;
}

.ceo-avatar {
    width: 70px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.ceo-avatar img {
    border-radius: 50%;
}

.ceo-comments p {
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    margin-bottom: 0px;
}

/* ========== SERVICES PARALLAX ========== */
.wide-parallax {
    background-image: url("../../../images/commons/home-niches/restaurant/restaurant-inside-2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 80px 0px;
}

.wide-parallax:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000);
    opacity: 0.4;
}

.menu-carousel {
    position: relative;
}

.menu-carousel .owl-theme .custom-nav {
    display: none;
}

.menu-carousel .owl-carousel .item {
    margin: 5px;
}

.menu-carousel .owl-dots {
    text-align: center;
    margin-top: 25px;
}

.menu-carousel .owl-dots button.owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background: var(--owl-dots);
    margin: 0 3px;
    box-shadow: none;
    border: none;
}

.menu-carousel .owl-dots button.owl-dot.active {
    background-color: var(--primary-color);
    width: 20px;
    border-radius: 25px;
}

.menu-carousel .owl-dots button.owl-dot:focus {
    outline: none;
}

.food-card {
    background-color: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    padding: 15px;
}

.fc-thumb {
    border-top-left-radius: 50px !important;
    margin: auto;
}

.fc-thumb img {
    border-radius: 50%;
}

.fc-caption {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0px 15px 25px;
    text-align: center;
}

.fc-caption h4 {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.fc-caption h4 a {
    color: #FFFFFF;
}

.fc-caption p {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 0px;
}

.fc-caption .rating-stars {
    margin-top: 15px;
}

.fc-caption .rating-stars li {
    font-size: 16px;
    color: var(--primary-color);
}

/* ========== MENU ========== */
.menu-block {
    margin: 0px 10px;
    border-bottom: solid 1px rgb(221, 221, 221, 0.5);
}

.plate-price {
    text-align: right;
}

.plate-name h4 {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 0px;
}

p.plate-description {
    margin-top: -5px;
}

/* ========== TESTIMONIALS ========== */
.testimonials-parallax {
    background-image: url("../../../images/commons/home-niches/restaurant/img26.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0px;
    height: 100%;
}

.testimonials-parallax:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #000000, #000000);
    opacity: 0.2;
}

.tw-restaurtant-carousel {
    position: relative;
}

.tw-restaurtant-carousel .owl-theme .custom-nav {
    display: none;
}

.tw-restaurtant-carousel .owl-carousel .item {
    margin: 10px;
}

.tw-restaurtant-carousel .owl-dots {
    display: none;
}

.tw-restaurtant-carousel .owl-dots button.owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background: var(--owl-dots);
    margin: 0 3px;
    box-shadow: none;
    border: none;
}

.tw-restaurtant-carousel .owl-dots button.owl-dot.active {
    background-color: var(--primary-color);
    width: 20px;
    border-radius: 25px;
}

.tw-restaurtant-carousel .owl-dots button.owl-dot:focus {
    outline: none;
}

.tw-card-box {
    border: solid 1px #FFFFFF;
    padding: 30px;
    max-width: 400px;
}

.tw-card-header .fas {
    font-size: 40px;
    color: var(--primary-color)
}

.tw-card-body {
    margin-top: 15px;
}

.tw-card-body p {
    color: #FFF;
    font-style: italic;
}

p.tw-author {
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 0px;
}

p.tw-profession {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0px;
}

.tw-card-body .rating-stars {
    float: right;
    margin-top: -30px;
}

.tw-card-body .rating-stars li {
    color: var(--primary-color);
}

/* ========== TEAM ========== */
.team-card-box {
    background-color: var(--background-color);
}

.team-carousel-2 .owl-dots {
    display: none;
}

/* ========== CAROUSEL ========== */
.restaurant-carousel {
    position: relative;
}

.restaurant-carousel .owl-theme .custom-nav {
    position: absolute;
    bottom: -20px;
    right: 50%;
    left: 50%;
    z-index: 1;
    display: none;
}

.restaurant-carousel .owl-theme .custom-nav .owl-prev {
    right: 50%;
    margin: 2px
}

.restaurant-carousel .owl-theme .custom-nav .owl-next {
    left: 50%;
    margin: 2px
}

.restaurant-carousel .owl-theme .custom-nav .owl-prev,
.restaurant-carousel .owl-theme .custom-nav .owl-next {
    position: absolute;
    width: 30px;
    height: 30px;
    color: inherit;
    background: none;
    border: none;
    z-index: 100;
    background-color: #000;
    border-radius: 0px;
    padding: 4px 5px;
    transition: 0.4s;
}

.restaurant-carousel .owl-theme .custom-nav .owl-prev:focus,
.restaurant-carousel .owl-theme .custom-nav .owl-next:focus {
    border: none;
    outline: 0;
    box-shadow: none;
}

.restaurant-carousel .owl-theme .custom-nav .owl-prev:hover,
.restaurant-carousel .owl-theme .custom-nav .owl-next:hover {
    background-color: blue;
}

.restaurant-carousel .owl-theme .custom-nav .owl-prev i,
.restaurant-carousel .owl-theme .custom-nav .owl-next i {
    font-size: 20px;
    line-height: 20px;
    color: #FFF;
}

.restaurant-carousel .owl-carousel .item .thumbnail {
    margin: 0px 5px;
    position: relative;
    cursor: pointer;
}

.restaurant-carousel .owl-dots {
    text-align: center;
    margin-top: 25px;
    display: none;
}

.restaurant-carousel .owl-dots button.owl-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
    box-shadow: none;
    border: none;
}

.restaurant-carousel .owl-dots button.owl-dot.active {
    background-color: #000;
    width: 12px;
    border-radius: 25px;
}

.restaurant-carousel .owl-dots button.owl-dot:focus {
    outline: none;
}

.wide-cta-banner {
    margin-top: -100px;
    padding: 150px 0px 50px 0px;
    background-color: var(--primary-color);
}

.cta-left-content h3 {
    color: #FFF;
    margin-bottom: 0px;
}

.cta-left-content p {
    color: #FFF;
    margin-bottom: 0px;
}

.cta-right-content {
    padding: 15px 0px;
    float: right;
}

.cta-right-content .btn-default-white:hover {
    background-color: var(--headline-color);
    border: solid 1px var(--headline-color);
}

.tc-bottom-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    bottom: -30px;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.thumbnail:hover .tc-bottom-content {
    bottom: -10px;
    opacity: 1;
}

.tc-bottom-content h4 {
    color: #FFF;
    margin-bottom: 0px;
}

.tc-bottom-content p {
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.thumbnail:hover .overlay {
    opacity: 1;
}

/* =====================================
    MEDIA QUERIES.
===================================== */
@media (max-width:1200px) {}

@media (max-width:991px) {
    .about-wide-left {
        padding: 0px;
    }

    .ceo-layer {
        max-width: 450px;
    }

}

@media (max-width:767px) {

    .cta-left-content {
        text-align: center;
    }

    .cta-right-content {
        padding: 15px 0px;
        float: none;
        text-align: center;
    }
}

@media (max-width:576px) {

    .ceo-layer {
        border-left: none;
    }

    .ceo-avatar {
        width: 70px;
        border-radius: 50%;
        float: none;
        margin: auto auto 15px;
    }

    .ceo-comments p {
        text-align: center;
    }

}

@media (max-width:480px) {}